*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-indent-left: 1;
	--viewport-height: 100vh;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: #303030;
}

html {
	font-size: 21pt;
}

u {
	text-decoration: underline;
}

ul {
	list-style: none; 
} 

strong {
	color: inherit;
	font-weight: bolder;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

hr {
	align-items: center;
	border: 0;
	display: flex;
	justify-content: var(--flex-alignment);
	min-height: 1rem;
	padding: 0;
	position: relative;
	width: 100%;
}

hr:before {
	content: '';
}

#divider01:before {
	width: 4rem;
	background-color: #FFFFFF;
	height: 1px;
	border-radius: 0px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	position: relative;
	z-index: 2;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	align-items: center;
	display: flex;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
}

#main > .inner {
	--padding-horizontal: 3rem;
	--padding-vertical: 3rem;
	--spacing: 0.875rem;
	--width: 40rem;
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

.buttons {
	cursor: default;
	display: flex;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.buttons li {
	max-width: 100%;
}

.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

.buttons.style1 {
	justify-content: flex-end;
	gap: 0.125rem;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons.style1 li a {
	display: inline-block;
	width: auto;
	height: 1rem;
	line-height: calc(1rem - 2px);
	padding: 0 0.5rem;
	vertical-align: middle;
	font-family: 'Arial', sans-serif;
	font-size: 0.5em;
	font-weight: 400;
	border-radius: 2.5rem;
	direction: var(--site-language-direction);
}

.buttons.style1 .button {
	color: #FFFFFF;
	border: solid 1px transparent;
}

.buttons.style2 {
	justify-content: flex-start;
	gap: 0.125rem;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons.style2 li a {
	display: inline-block;
	width: auto;
	height: 1rem;
	line-height: calc(1rem - 2px);
	padding: 0 0.5rem;
	vertical-align: middle;
	font-family: 'Arial', sans-serif;
	font-size: 0.5em;
	font-weight: 400;
	border-radius: 2.5rem;
	direction: var(--site-language-direction);
}

.buttons.style2 .button {
	color: #FFFFFF;
	border: solid 1px transparent;
}

h1, h2, h3, p {
	direction: var(--site-language-direction);
	position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1.style1, h2.style1, h3.style1, p.style1 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Arial', sans-serif;
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 700;
}

h1.style2, h2.style2, h3.style2, p.style2 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Arial', sans-serif;
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 400;
}

h1.style3, h2.style3, h3.style3, p.style3 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Arial', sans-serif;
	font-size: 0.625em;
	line-height: 1.5;
	font-weight: 400;
}

h1.style4, h2.style4, h3.style4, p.style4 {
	text-align: right;
	color: #FFFFFF;
	font-family: 'Arial', sans-serif;
	font-size: 0.5em;
	line-height: 1.5;
	font-weight: 400;
}

h1.style5, h2.style5, h3.style5, p.style5 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Arial', sans-serif;
	padding-left: 1rem;
	padding-right: 0;
	font-size: 0.625em;
	line-height: 1.5;
	font-weight: 400;
}

h1.style6, h2.style6, h3.style6, p.style6 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Arial', sans-serif;
	padding-left: 2.375rem;
	padding-right: 0;
	font-size: 0.625em;
	line-height: 1.5;
	font-weight: 400;
}

.container {
	position: relative;
}

.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	text-align: var(--alignment);
}

.container.style1 > .wrapper {
	display: inline-block;
	width: 75rem;
	background-color: #454545;
}

.container.style2 > .wrapper {
	display: inline-block;
	width: 75rem;
	background-color: #454545;
}

.container.style1 > .wrapper > .inner {
	--gutters: 2rem;
	--padding-horizontal: 0.875rem;
	--padding-vertical: 0.375rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

.container.style2 > .wrapper > .inner {
	--gutters: 2rem;
	--padding-horizontal: 0.375rem;
	--padding-vertical: 0.375rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}